<h4>Post detalis</h4>
<p>
	<!--Вывод данных из столбцов  в базе данных --> 
	<%= @row['content'] %>
	<br/>
	Добавлен:<%= @row['created_date'] %>
	<br/>
	<!--Добавление комментария в представлении-->
	
</p>