<h2> Вывод данных:</h2> 
<br/>           

<% @result.each do |post| %>
<p>
	<!--Вывод данных из столбцов  в базе данных --> 
	<%= post['content'] %>
	<br/>
	Добавлен:<%= post['created_date'] %>
	<br/>
	<!--Добавление комментария в представлении-->
	<a href= "/detalis/<%=post['id'] %>">comments</a>
</p>
</hr>
<% end %>
