 <h1>Add new post</h1>
<form action="/New" method="Post">
  <div class="form-floating">
  <textarea name="content" class="form-control" placeholder="Введите текст здесь" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2"></label></div>

  <button type="submit" class="btn btn-primary">Нажмите</button>
</form>